 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('images/image_processing20200618-9603-16zkaaw.png');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 777px;
}

.u-section-1 .u-text-1 {
  margin: 72px 287px 0 201px;
}

.u-section-1 .u-text-2 {
  margin: 38px 18px 38px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 51px;
    margin-right: 164px;
    margin-left: 124px;
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 13px;
    margin-right: 0;
    margin-bottom: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 917px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 49px;
    margin-right: 41px;
    margin-left: 27px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 977px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 47px;
    margin-left: 0;
    margin-right: 0;
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 46px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1353px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 23px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 10px;
    margin-bottom: 40px;
  }
}